<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Footing</title>
</head>

<body>
    <div class="foots">

        <div class="footy-items">
            <ul>
                <li><a href="">Skills</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Achievments</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>

        <div class="socials">
            <a href="https://www.facebook.com/shahd.ahmed.5661"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/_shahd_farouk_/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/shahd-farouk/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/limitlesssolly"><i class="fa fa-github"></i></a>
            <a href="https://www.behance.net/solsdesigns"><i class="fa fa-behance"></i></a>
        </div>

        <p class="copyrighted">Sols Productions <span style="font-family: Arial, Helvetica, sans-serif;">©</span> 2024
        </p>

    </div>
</body>

</html>