<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/footer.css">

    <title>Footing</title>
</head>
<body>
    <div class="foots">

        <div class="footy-items">
            <ul>
                <li><a href="">Skills</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Achievments</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>

        <div class="socials">
            <a href="https://www.facebook.com/shahd.ahmed.5661"><img src="../../Public/Images/facebook.png"></a>
            <a href="https://www.instagram.com/_shahd_farouk_/"><img src="../../Public/Images/instagram.png"></a>
            <a href="https://www.linkedin.com/in/shahd-farouk/"><img src="../../Public/Images/linkedin.png"></a>
            <a href="https://github.com/limitlesssolly"><img src="../../Public/Images/github.png"></a>
        </div>

        <p class="copyrighted">Sols Productions © 2024</p>

    </div>
</body>
</html>