<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/landingnav.css">

    <title>Navigation</title>
</head>
<body>

    <div class="navs">

        <div class="navi-items" id="navi-items">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>

        </div>

    </div>
    
</body>
</html>