<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/landingfoot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Footing</title>
</head>

<body>
    <div class="foots">

        <div class="logo">
            <h5>Sols <span>Bake Shop</span></h5>
        </div>

        <p class="description">
            Freshly Baked with a sprinkle of love.
            To follow our blog for exquisite updates, <a href="#">click me!</a>
            A few job positions may be open here n there,
            follow along the contact us feature to apply.
        </p>

        <div class="clickables">

            <div class="footy-items">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">Custom</a></li>
                </ul>

                <ul>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>

            <div class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>

        </div>

        <p class="copyrighted"> 
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">
             © 2024 
            </span> 
            All Rights Reserved </p>

    </div>
</body>

</html>