/* Main Colors:
tan #F3D8D2
coral #D99D97
blue #8596B4
navy #092E4C
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foots {
    font-family: Bartex;
    margin-top: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transition: .4s;
    background-color: #092E4C;
}

.foots .description {
    line-height: 20px;
    max-width: 350px;
    color: #8596B4;
    position: relative;
    right:410px;
    top: 40px;
    margin: 50px;
    font-size: 18px;
}

.foots .description a {
    color: #D99D97;
}

.foots .description a:hover {
    color: #F3D8D2;
}

.foots .logo h5 {
    font-family: Dirly;
    font-size: 40px;
    color: #8596B4;
    margin-bottom: 50px;
    position: relative;
    right:70px;
}

.foots .footy-items {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    line-height: 30px;
    position: relative;
    right: 250px;
}

.foots .clickables .footy-items ul {
    list-style: none;
    padding: 40px;
}

.foots .clickables .footy-items ul li a {
    text-decoration: none;
    color: #8596B4;
}

.foots .clickables .footy-items ul li a:hover {
    color: #D99D97;
}

.foots .socials a i {
    font-size: 20px;
    color: #8596B4;
    padding: 10px;
}

.foots .socials a i:hover {
    color: #D99D97;
}

.foots .copyrighted {
    font-family: Bartex;
    font-size: 18px;
    color: #8596B4;
    text-align: center;
    width: 100%;
}


@font-face {
    font-family: Dirly;
    src: url('../Fonts/DirlyBelly-Regular.ttf');
}

@font-face {
    font-family: Bartex;
    src: url('../Fonts/Bartex-Regular.ttf');
}

@font-face {
    font-family: Extras;
    src: url('../Fonts/restless-youth-sans.otf');
}
