/* Main Colors:
tan #F3D8D2
coral #D99D97
blue #8596B4
navy #092E4C
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navs {
    display: flex;
    top: 0;
    transition: .4s;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
}

.navs .offer {
    background-color: #D99D97;
    overflow-x: hidden;
    color: #092E4C;
    width: 100vw;
    position: absolute;
    top: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 10px;
    font-family: Bartex;
    font-size: 23px;
}

.navs .offer h5 span {
    font-family: Extras;
}

.navs .navi-items ul {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 7%;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
}

.navs .logo h5 {
    font-family: Dirly;
    font-size: 35px;
    margin: 0 15px;
    padding-bottom: 10px;
    color: #092E4C;
}

.navs .navi-items ul li a {
    margin: 5px;
    display: flex;
    padding: 0 10px;
    color: #092E4C;
    text-align: center;
    text-decoration: none;
    font-family: Bartex;
}

.navs li:after {
    content: '';
    margin: auto;
    display: block;
    height: 2px;
    width: 0%;
    background-color: transparent;
    transition: all 0.5s ease;
}

.navs li:hover:after {
    width: 70%;
    background-color: #D99D97;
}

.navs .signups{
    position: absolute;
    right: 2%;
}

.navs .navi-items ul button {
    border: none;
    font-family: Bartex;
    background-color: #D99D97;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    line-height: 20px;
    margin: 0 10px;
    padding: 10px 16px;
    text-align: center;
}

.navs .navi-items ul button:hover {
    background-color: #F3D8D2;
    color: #092E4C;
}

@font-face {
    font-family: Dirly;
    src: url('../Fonts/DirlyBelly-Regular.ttf');
}

@font-face {
    font-family: Bartex;
    src: url('../Fonts/Bartex-Regular.ttf');
}

@font-face {
    font-family: Extras;
    src: url('../Fonts/restless-youth-sans.otf');
}