/* Main Colors:
tan #F3D8D2
coral #D99D97
blue #8596B4
navy #092E4C
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lander {
    height: 500px;
    width: 100%;
}

.intros img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 0% 75%;
    filter: blur(2px);
    position: relative;
    z-index: -1;
}

.intros h5 {
    font-family: Bartex;
    font-size: 50px;
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 21.5%;
    max-width: 850px;
    color: #092E4C;
    text-shadow: 2px 2px #F3D8D2;
}

.intros p {
    font-family: Bartex;
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 43%;
    font-weight: 500;
    font-size: 23px;
    color: #F3D8D2;
    text-shadow: 1px 1px #092E4C;
}

.orders{
    font-family: Bartex;
    z-index: 1;
    position: absolute;
    top: 65%;
    left: 45%;
    border: none;
    font-family: Bartex;
    background-color: #D99D97;
    border-radius: 8px;
    color: #092E4C;
    cursor: pointer;
    font-size: 17px;
    line-height: 20px;
    margin: 0 10px;
    padding: 10px 16px;
    text-align: center;
}

.orders:hover {
    background-color: #092E4C;
    color: #F3D8D2;
}

@font-face {
    font-family: Dirly;
    src: url('../Fonts/DirlyBelly-Regular.ttf');
}

@font-face {
    font-family: Bartex;
    src: url('../Fonts/Bartex-Regular.ttf');
}
