/* main colors: 
blue #BED1CD
cream #F1EEE8
beige #DAD0C8 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navs {
    padding: 5px;
    display: flex;
    top: 0;
    width: auto;
}

.iconic {
    height: 60px;
    width: 80px;
    
    /* animation:downSlider 1s ease-in; */
}

.iconic:hover{
    animation: rotational 1.5s ease;
    cursor: pointer;
}

.named {
    display: flex;
    padding: 15px 0;
    text-decoration: none;
    color: #000;
    /* animation:downSlider 1s ease-in; */
}

.named span {
    font-weight: 650;
}

#burger {
    height: 20px;
    width: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 53px;
    /* animation:downSlider 1s ease-in; */
}

#burger:hover {
    cursor: pointer;
}


.navi-items ul {
    position: absolute;
    top: 1%;
    right: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navi-items ul li a {
    display: flex;
    padding: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    /* animation:downSlider 1s ease-in; */
}

.navi-items ul li a:hover {
    color: #F1EEE8;
}

@media (max-width: 600px) {

    .navi-items-responsive ul {
        top: 6%;
        flex-direction: column;
        position: absolute;
        right: 0%;
        justify-content: center;
        align-items: center;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navi-items-responsive ul li a {
        display: flex;
        padding: 15px;
        color: #000;
        text-align: center;
        text-decoration: none;
        z-index: 4;
    }

    .navi-items-responsive ul li a:hover {
        color: #F1EEE8;
    }

    .navi-items ul li a {
        display: none;
    }

    #burger {
        display: flex;
    }
}

@keyframes downSlider {
    from {
        transform: translatey(-100px);
    }

    to {
        transform: translatey(0);
    }
}

@keyframes rotational{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }

}