/* main colors: 
blue #BED1CD
cream #F1EEE8
beige #DAD0C8 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #BED1CD;
}

.about{
    display: flex;
}

.discription{
    position: absolute;
    top: 100px;
    left: 50px;
}

.discribing-pix{
    float: right;
}

.backLayerOne{
    width: 30%;
    height: 50%;
    z-index: 1;
    position: absolute;
    top: 80px;
    right: 30px;
}

.backLayerToo{
    width: 30%;
    height: 50%;
    z-index: 2;
    position: absolute;
    top: 80px;
    right: 30px;
} 