/* main colors: 
blue #BED1CD
cream #F1EEE8
beige #DAD0C8 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RYSans;
}

html{
    position: relative;
    min-height: 100%;
}

body {
    background-color: #BED1CD;
    display: flex;
    height: 2000px;
    transition: .4s;
}

.about {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 7%;
    z-index: 1;
    max-height: 400px;
    /* background-color: #000; */
}

.intros {
    font-size: 50px;
    color: #F1EEE8;
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    padding-bottom: 20px;
}

.discription {
    float: left;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20%;
    font-size: 25px;
    width: 600px;
}

.click {
    margin: 20px 20px 0 0 ;
    background-color: #F1EEE8;
    border: 2px solid #DAD0C8;
    border-radius: 30px;
    box-shadow: #DAD0C8 4px 4px 0 0;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
}


.click a{
    text-decoration: none;
    color: #000;
}

.click:active {
    box-shadow: #DAD0C8 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.discribing-pix {
    justify-content: center;
    align-items: center;
}

.frame {
    width:345px;
    height: 430px;
    position: absolute;
    top: -10%;
    left: 167%;
    z-index: 3;
}

/* .sunburst {
    z-index: 2;
    width: 550px;
    height: 550px;
    position: absolute;
    top: 40px;
    right: 30px;
    animation: round 6s linear infinite;
} */

.solsol {
    z-index: 2;
    width: 300px;
    height: 400px;
    position: absolute;
    top: -25px;
    left: 1020px;
    border-radius: 10px;
}

.skills {
    overflow: hidden;
    width: 100%;
    height: 150px;
    background-color: #F1EEE8;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skills h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    color: #000;
    position: absolute;
    left: 0px;
    background-color: #DAD0C8;
    width: 150px;
    height: 100px;
    font-size: 20px;
    transform: rotate(-90deg);
}

.tickets {
    display: flex;
    animation: scroll 25s linear infinite;
}

.ticket img {
    width: 300px;
    height: 150px;
}

.tickets:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.projecting{
    position: absolute;
    top: 40%;
    overflow: hidden;
}

.projecting h5{
    font-size: 80px;
    color: #F1EEE8;
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    position: relative;
    bottom: 20px;
    left: 45%;
    font-family: Retrowavin;
}

.quality{
    position: absolute;
    z-index: 4;
    top: 3%;
    left: 2%;
    width: 200px;
    height: 200px;
}

.slidey {
    width: 95vw;
    height: 95vh;
    position: relative;
    left: 7%;
}

.slidey .projects .project {
    position: absolute;
    inset: 0 0 0 0;
}

.slidey .projects .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slidey .projects .project .content {
    position: absolute;
    letter-spacing: 2px;
    top: 0%;
    padding-top: 140px;
    padding-left: 100px;
    width: 1500px;
    height: 900px;
    left: 53%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #000;
    background: linear-gradient(135deg, rgba(255,255,255,0.6), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
}

.slidey .projects .project .content .title {
    font-family: Retrowavin;
    font-weight: bold;
    font-size: 4em;
    line-height: 1.5em;
    color: #F1EEE8;
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
}

.slidey .projects .project .content .genre {
    font-family: RYSans;
    font-weight: bold;
    letter-spacing: 7px;
    line-height: 1.3em;
}

.slidey .projects .project .content .describing{
    font-family: RYsans;
    width: 500px;
}

.slidey .projects .project .content .preview{
    margin-top:20px;
}

.slidey .projects .project .content button{
    width: 100px;
    height: 50px;
    border-radius:10px;
    background-color: #000;
    border: none;
    font-family: RYsans;
    color: #F1EEE8;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    cursor: pointer;
}

.slidey .projects .project .content button:hover{
    background-color: #F1EEE8;
    color:  #000;
    cursor: pointer;
}

.popups {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F1EEE8;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popups img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 90vh;
    display: block;
    margin: 0 auto;
}

.popups .close {
    color: #000;
    font-family: RYsans;
    position: absolute;
    top: 3px;
    right: 7px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

/* .smolprojects{
    position: absolute;
    bottom:50px;
    left: 50%;
    width: max-content;
    z-index: 3;
    display: flex;
    gap: 20px;
}

.smolprojects .smolproject{
    width: 160px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.smolprojects .smolproject img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.smolprojects .smolproject .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: #000;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
}

.smolprojects .smolproject .content .title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.arrows{
    position: absolute;
    top: 75%;
    right:67%;
    width: 400px;
    max-width: 30%;
    display: flex;
    gap: 280px;
    align-items: center;
}

.arrows button{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: #000;
    border: none;
    font-family: monospace;
    color: #F1EEE8;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 3;
    cursor: pointer;
}

.arrows button:hover{
    background-color: #F1EEE8;
    color:  #000;
    cursor: pointer;
}

.slidey .projects .project:nth-child(1){
    z-index: 1;
}

.slidey .projects .project:nth-child(1) .genre,
.slidey .projects .project:nth-child(1) .title,
.slidey .projects .project:nth-child(1) .describing,
.slidey .projects .project:nth-child(1) .preview{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: show 0.5s 1s linear 1 forwards;
}

.slidey.next .projects .project:nth-child(1) img{
    width: 160px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 20px;
    animation: swapper 0.5s linear 1 forwards;
}

.slidey.next .smolprojects .smolproject:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: swapped .5s linear 1 forwards;
}

.slidey.next .smolprojects{
    transform: translateX(150px);
    animation: back .5s linear 1 forwards;
}

.slidey.then .projects .project:nth-child(2){
    z-index: 2;
}

.slidey.then .projects .project:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outside .5s linear 1 forwards;
}

.slidey.then .smolprojects .smolproject:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: swapped .5s linear 1 forwards;
}

.slidey.then .projects .project:nth-child(2) .genre,
.slidey.then .projects .project:nth-child(2) .title,
.slidey.then .projects .project:nth-child(2) .describing,
.slidey.then .projects .project:nth-child(2) .preview{
    animation: outContents .5s linear 1 forwards;
}

.slidey.next .arrows button,
.slidey.then .arrows button{
    pointer-events: none;
}


@media (max-width: 755px){
    .discription {
        font-size: 20px;
        width: 400px;
        left: 10%;
    }
    .click {
        font-size: 15px;
    }
    .slidey .projects .project .content{
        padding-right: 0;
    }
    .slidey .projects .project .content .title{
        font-size: 40px;
    }
}

/* @keyframes round {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes outContents{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@keyframes outside{
    to{
        width: 160px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

@keyframes front{
    to{
        transform: translateX(0);
    }
}

@keyframes back{
    to{
        transform: translateX(0);
    }
}

@keyframes swapped{
    to{
        width: 150px;
    }
}

@keyframes swapper{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

@keyframes show{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

@font-face {
    font-family: RYSans;
    src: url('../Fonts/restless-youth-sans.otf');
}

@font-face {
    font-family: Retrowavin;
    src: url('../Fonts/Retrowave-qZR55.ttf');
}