/* main colors: 
blue #BED1CD
cream #F1EEE8
beige #DAD0C8 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RYSans;
}

body{
    background-color: #BED1CD;
}

.about{
    display: flex;
}

.discription{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 50px;
}

.discribing-pix{
    justify-content: center;
    align-items: center;
    
}

.backshapeOne{
    width: 300px;
    height: 200px;
    position: absolute;
    top:145px;
    right: 80px;
    z-index: 2;
}

.backshapeToo{
    width: 350px;
    height: 250px;
    position: absolute;
    top: 120px;
    right: 57px;
    z-index: 1;
}

.starburst{
    width: 350px;
    height: 350px;
    position: absolute;
    top:110px;
    right: 120px;
    /* animation: rotational 4s ease infinite ; */
    /* animation-play-state: running; */
}

/* @font-face { font-family: RYScript; src: url('../Fonts/restless-youth-script.otf'); } */

@font-face { 
    font-family: RYSans; src: url('../Fonts/restless-youth-sans.otf'); 
}

@keyframes rotational{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }

}
