/* main colors: 
blue #BED1CD
cream #F1EEE8
beige #DAD0C8 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB; /* Set your desired background color */
  }

  .sunburst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, transparent 50%, #FFD700 50%);
    background-size: 200% 200%;
    animation: sunburstAnimation 4s linear infinite;
  }

  @keyframes sunburstAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }