<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../../Public/Images/sols-transparent.png">

    <link rel="stylesheet" href="../../Public/CSS/calculator.css">
    <title>Calculator</title>
</head>
<body>
    <div class="application">

        <div class="calculator">

            <form>

                <div class="output">
                    <input type="text" name="displayer" id="displayer">
                </div>

                <div>
                    <input type="button" value="AC" onclick=delDisplayed()  class="operational">
                    <input type="button" value="DEL" onclick=delOneDisplayed() class="operational">
                    <input type="button" value="." onclick=displays(value) class="operational">
                    <input type="button" value="/" onclick=displays(value) class="operational">
                </div>

                <div>
                    <input type="button" value="7" onclick=displays(value)>
                    <input type="button" value="8" onclick=displays(value)>
                    <input type="button" value="9" onclick=displays(value)>
                    <input type="button" value="*" onclick=displays(value) class="operational">
                </div>

                <div>
                    <input type="button" value="4" onclick=displays(value)>
                    <input type="button" value="5" onclick=displays(value)>
                    <input type="button" value="6" onclick=displays(value)>
                    <input type="button" value="-" onclick=displays(value) class="operational">
                </div>

                <div>
                    <input type="button" value="1" onclick=displays(value)>
                    <input type="button" value="2" onclick=displays(value)>
                    <input type="button" value="3" onclick=displays(value)>
                    <input type="button" value="+" onclick=displays(value) class="operational">
                </div>

                <div>
                    <input type="button" value="00" onclick=displays(value)>
                    <input type="button" value="0" onclick=displays(value)>
                    <input type="button" value="=" style="width: 145px;" onclick= calculate() class="operational">
                </div>

            </form>

        </div>

    </div>

    <script src="../../Public/JS/calculatorFuns.js"></script>
</body>
</html>