<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../../Public/Images/sols-transparent.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../Public/CSS/landing.css">
    <link rel="stylesheet" href="../../Public/CSS/landingnav.css">
    <link rel="stylesheet" href="../../Public/CSS/landingfoot.css">

    <title>Landing Page</title>
</head>

<body>

    <div class="navs">

        <div class="navi-items" id="navi-items">
            <ul>
                <div class="logo">
                    <h5>Sols <span>Bake Shop</span></h5>
                </div>

                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Specials</a></li>
                <li><a href="#">Contact Us</a></li>

                <div class="signups">
                    <button>Sign Up</button>
                    <button>Login</button>
                </div>
            </ul>

        </div>

    </div>

    <div class="lander">

        <div class="intros">
            <img src="../../Public/Images/muffins.jpg">

            <h5>Indulge in sweetness, Freshly baked with a sprinkle of love.</h5>

            <p>
                An assortment of mouth-watering baked goods awaits you
            </p>

            <button class="orders">Order Now</button>
        </div>

    </div>  
</body>

</html>