<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../../Public/Images/sols-transparent.png">

    <link rel="stylesheet" href="../../Public/CSS/landing.css">
    <link rel="stylesheet" href="../../Public/CSS/landingnav.css">
    <link rel="stylesheet" href="../../Public/CSS/landingfoot.css">
    
    <title>Landing Page</title>
</head>
<body>

    <div class="navs">

        <div class="offer">
            <h5><span>40%</span> off on strawberry baked goods</h5>
        </div>

        <div class="navi-items" id="navi-items">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>

                <div class="logo">
                    <h5>Sols <span>Bake Shop</span></h5>
                </div>

                <li><a href="#">Menu</a></li>
                <li><a href="#">Specials</a></li>
                <li><a href="#">Custom</a></li>

                <div class="signups">
                    <button>Sign Up</button>
                    <button>Login</button>
                </div>
            </ul>

        </div>

    </div>
    

</body>
</html>