<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../../Public/Images/sols-transparent.png">

    <link rel="stylesheet" href="../../Public/CSS/landing.css">
    <link rel="stylesheet" href="../../Public/CSS/landingnav.css">
    <link rel="stylesheet" href="../../Public/CSS/landingfoot.css">
    
    <title>Landing Page</title>
</head>
<body>
    
</body>
</html>