<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/portfolio.css">
    <link rel="stylesheet" href="../../Public/CSS/navigation.css">

    <title>Portfolio</title>
</head>
<body>
    <div class="navs">

            <img class="iconic" src="../../Public/Images/sols-transparent.png">

            <a class="named"><span>Sols </span> Productions</a>

        <div class="navi-items">
            <ul>
                <li><a href="">Skills</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Achievments</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>

    </div>

</body>
</html>