<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/portfolio.css">
    <link rel="stylesheet" href="../../Public/CSS/navigation.css">
    <link rel="stylesheet" href="../../Public/CSS/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Portfolio</title>
</head>

<body>
    <div class="navs">
        <img class="iconic" src="../../Public/Images/sols-transparent.png">

        <a class="named"><span>Sols </span> Productions</a>

        <div class="navi-items" id="navi-items">
            <ul>
                <li><a>Skills</a></li>
                <li><a>Projects</a></li>
                <li><a>Achievements</a></li>
            </ul>

            <a onclick="navigational()"><img id="burger" src="../../Public/Images/bars-staggered.png"></a>

        </div>
    </div>

    <div class="about">

        <div class="discription">
            <!-- <p class="">
                Hello and Welcome, My name is Shahd. <br>
                I'm an Artificial Intelligence Engineer based<br>
                in Cairo, Egypt. I have a significant interest in<br>
                graphic design, web development, and game development.
            </p> -->
        </div>

        <div class="discribing-pix">
            <!-- <div class="backshape">
                <img src="../../Public/Images/backdropBeige.png" class="backshapeOne">
                <img src="../../Public/Images/backdropCream.png" class="backshapeToo">
                <img src="../../Public/Images/sunburster.png" class="sunburst"> 
                <img src="../../Public/Images/baby-me.png" class="solsol">
            </div> -->
        </div>
    </div>

    <div class="skills">

        <h5>Skills</h5>

        <div class="tickets">

            <div class="ticket">
                <img src="../../Public/Images/photoshopticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/photoshopticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/photoshopticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/photoshopticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/photoshopticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/photoshopticket.png">
            </div>

        </div>
    </div>

    <div class="abouttoo">
        <p class="ineteresting">

        </p>
    </div>

    <div class="projects">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="skillstoo">
        <!-- <h5>Skills</h5>
        <marquee>
            <div class="ticket">
                <img src="">
            </div>
            <div class="ticket">
                <img src="">
            </div>
            <div class="ticket">
                <img src="">
            </div>
            <div class="ticket">
                <img src="">
            </div>
            <div class="ticket">
                <img src="">
            </div>
            <div class="ticket">
                <img src="">
            </div>
        </marquee> -->
    </div>

    <div class="achievements">

    </div>

    <div class="team">

    </div>

    <!-- <div class="foots">

        <div class="clickables">
            <div class="footy-items">
                <ul>
                    <li><a>Skills</a></li>
                    <li><a>Projects</a></li>
                    <li><a>Achievments</a></li>
                </ul>
            </div>

            <div class="socials">
                <a href="https://www.facebook.com/shahd.ahmed.5661"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/_shahd_farouk_/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/shahd-farouk/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/limitlesssolly"><i class="fa fa-github"></i></a>
                <a href="https://www.behance.net/solsdesigns"><i class="fa fa-behance"></i></a>
            </div>
        </div>
        <p class="copyrighted">Sols Productions <span style="font-family: Arial, Helvetica, sans-serif;">©</span> 2024
        </p>

    </div> -->

    <script src="../../Public/JS/navigationFuns.js"></script>
</body>

</html>