<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/portfolio.css">
    <link rel="stylesheet" href="../../Public/CSS/navigation.css">
    <link rel="stylesheet" href="../../Public/CSS/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Portfolio</title>
</head>

<body>
    <div class="navs">
        <img class="iconic" src="../../Public/Images/sols-transparent.png">

        <a class="named"><span>Sols </span> Productions</a>

        <div class="navi-items" id="navi-items">
            <ul>
                <li><a href="portfolio.html#skilling">Skills</a></li>
                <li><a>Projects</a></li>
            </ul>

            <a onclick="navigational()"><img id="burger" src="../../Public/Images/bars-staggered.png"></a>

        </div>
    </div>

    <div class="about">

        <div class="discription">
            <p class="intros" style="font-family: Retrowavin;">
                Hello and Welcome,
            </p>
            <p>
                My name is Shahd.
                I'm an Artificial Intelligence Engineer based
                in Cairo, Egypt. I have a significant interest in
                graphic design, web development, and game development.
            </p>
            <button class="click">
                Hire me
            </button>
            <button class="click">
                <a href="../../Public/CV vol.4.pdf" download="CV vol.4">
                    Download Cv 
                </a>
            </button>
        </div>


        <div class="discribing-pix">
            <div class="backshape">
                <img src="../../Public/Images/filmer.png" class="film">
                <!-- <img src="../../Public/Images/sunburster.png" class="sunburst">  -->
                <!-- <img src="../../Public/Images/baby-me.png" class="solsol"> -->
            </div>
        </div>
    </div>

    <div class="skills">

        <h5 id="skilling">Skills</h5>

        <div class="tickets">

            <div class="ticket">
                <img src="../../Public/Images/photoshopticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/githubticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/vscodeticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/netbeansticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/visualstudioticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/mongodbticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/phpmyadminticket.png">
            </div>

            <div class="ticket">
                <img src="../../Public/Images/microsoftofficeticket.png">
            </div>

        </div>
    </div>

    <div class="abouttoo">
        <!-- <p class="ineteresting">
            
        </p> -->
    </div>

    <div class="projects">
        <!-- <div class="slidy">
            <img src="../../Public/Images/postersfn.jpeg" class="projectin">
            <img src="../../Public/Images/postersfn.jpeg" class="projectin">
            <img src="../../Public/Images/postersfn.jpeg" class="projectin">
            <img src="../../Public/Images/postersfn.jpeg" class="projectin">
            <img src="../../Public/Images/postersfn.jpeg" class="projectin">
        </div> -->
    </div>

    <div class="skillstoo">

    </div>


    <div class="team">

    </div>

    <div class="foots">

        <div class="clickables">
            <div class="footy-items">
                <ul>
                    <li><a>Skills</a></li>
                    <li><a>Projects</a></li>
                </ul>
            </div>

            <div class="socials">
                <a href="https://www.facebook.com/shahd.ahmed.5661"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/_shahd_farouk_/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/shahd-farouk/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/limitlesssolly"><i class="fa fa-github"></i></a>
                <a href="https://www.behance.net/solsdesigns"><i class="fa fa-behance"></i></a>
            </div>
        </div>
        <p class="copyrighted">Sols Productions <span style="font-family: Arial, Helvetica, sans-serif;">©</span> 2024
        </p>

    </div>

    <script src="../../Public/JS/navigationFuns.js"></script>
</body>

</html>