<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../Public/CSS/skills.css">
    <link rel="stylesheet" href="../../Public/CSS/navigation.css">
    <link rel="stylesheet" href="../../Public/CSS/footer.css">

    <title>Skills</title>
</head>

<body>
    <div class="navs">
        <img class="iconic" src="../../Public/Images/sols-transparent.png">

        <a class="named" href="../Pages/portfolio.html"><span>Sols </span> Productions</a>

        <div class="navi-items" id="navi-items">
            <ul>
                <li><a href="#">Skills</a></li>
                <li><a href="../Pages/projects.html">Projects</a></li>
                <li><a href="../Pages/achievements.html">Achievements</a></li>
                <li><a href="../Pages/contact.html">Contact</a></li>
            </ul>

            <a onclick="navigational()"><img id="burger" src="../../Public/Images/bars-staggered.png"></a>

        </div>
    </div>

    <div class="about">

    </div>

    <div class="foots">

        <div class="clickables">
            <div class="footy-items">
                <ul>
                    <li><a href="">Skills</a></li>
                    <li><a href="">Projects</a></li>
                    <li><a href="">Achievments</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>

            <div class="socials">
                <a href="https://www.facebook.com/shahd.ahmed.5661"><img src="../../Public/Images/facebook.png"></a>
                <a href="https://www.instagram.com/_shahd_farouk_/"><img src="../../Public/Images/instagram.png"></a>
                <a href="https://www.linkedin.com/in/shahd-farouk/"><img src="../../Public/Images/linkedin.png"></a>
                <a href="https://github.com/limitlesssolly"><img src="../../Public/Images/github.png"></a>
            </div>
        </div>
        <p class="copyrighted">Sols Productions © 2024</p>

    </div>

    <script src="../../Public/JS/navigationFuns.js"></script>
</body>

</html>