<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/CSS/tester.css">
</head>
<body>
    <div class="projects">

        <!-- <h5>Wall Of Projects</h5> -->

        <div class="posters" style="max-width: 300px;">

            <img src="../../Public/Images/postersfn.jpeg">
            <img src="../../Public/Images/postersfn.jpeg">
            <img src="../../Public/Images/postersfn.jpeg">
            <img src="../../Public/Images/postersfn.jpeg">
            <img src="../../Public/Images/postersfn.jpeg">
            <img src="../../Public/Images/postersfn.jpeg">
            
        </div>


    </div>
</body>
</html>