<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/CSS/tester.css">
</head>

<body>
    <div class="skills">

        <h5 id="skilling">Skills</h5>

        <div class="tickets">
            <div class="ticket"><img src="../../Public/Images/photoshopticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/githubticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/vscodeticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/netbeansticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/visualstudioticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/mongodbticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/phpmyadminticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/microsoftofficeticket.png"></div>
        </div>
        
        <div class="tickets">
            <div class="ticket"><img src="../../Public/Images/photoshopticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/githubticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/vscodeticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/netbeansticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/visualstudioticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/mongodbticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/phpmyadminticket.png"></div>
            <div class="ticket"><img src="../../Public/Images/microsoftofficeticket.png"></div>
        </div>

    </div>
</body>

</html>