<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/CSS/tester.css">
    <title>Testing Environment</title>
</head>

<body>

    <div class="slidey">

        <div class="projects">

            <div class="project">

                <img src="../../Public/Images/final covers.jpg">

                <div class="content">
                    <div class="genre">Graphic Design</div>
                    <div class="title">Nickelodeon Relaunch</div>
                    <div class="describing">
                        This project handles the relaunch of the kids channel Nickelodeon where all
                        youthful dreams initiated. Using photoshop as well as a group of inspiration
                        platforms, this project came to be.
                    </div>
                </div>

            </div>

            <div class="project">

                <img src="../../Public/Images/Tamarai.png">

                <div class="content">
                    <div class="genre">Web Development</div>
                    <div class="title">Tamarai</div>
                    <div class="describing">
                        An E-commerce based web application that allows users to experience the
                        traditional online shopping proccess as well as presents an opportunity
                        for vendors to sell their products.
                    </div>
                </div>

            </div>

            <div class="project">

                <img src="../../Public/Images/ourcars.png">

                <div class="content">
                    <div class="genre">Web Development</div>
                    <div class="title">24SevenLimousine</div>
                    <div class="describing">
                        A car rental and managment system that contains the basic vehicle booking
                        saga in addition to serving as a means of income for drivers and car owners.
                    </div>
                </div>

            </div>

            <div class="project">
                
                <img src="../../Public/Images/logo el project.jpg">
                
                <div class="content">
                    <div class="genre">Java Development</div>
                    <div class="title">El Nas Library</div>
                    <div class="describing" style="font-family: RYSans;">
                        A library managment system that allows librarians and other employees to manage
                        their inventory, requests, and the library as a whole.
                    </div>
                </div>
                
            </div>
            
        </div>
        
        <div class="smolprojects">
            
            <div class="smolproject">
                
                <img src="../../Public/Images/Tamarai.png">
                
                <div class="content">
                    <div class="title">Tamarai</div>
                </div>
            </div>

            <div class="smolproject">
                
                <img src="../../Public/Images/ourcars.png">
                
                <div class="content">
                    <div class="title">24SevenLimousine</div>
                </div>
            </div>

            <div class="smolproject">
    
                <img src="../../Public/Images/logo el project.jpg">
    
                <div class="content">
                    <div class="title">El Nas Library</div>
                </div>
            </div>

            <div class="smolproject">

                <img src="../../Public/Images/final covers.jpg">

                <div class="content">
                    <div class="title">Nickelodeon Relaunch</div>
                </div>
            </div>

        </div>

        <div class="arrows">
            <button id="next"><</button>
            <button id="then">></button>
        </div>

    </div>

    <script src="../../Public/JS/portfolioFuns.js"></script>

</body>

</html>